$yellow: #fee600;
$dGray: #414042;
$lGray: rgb(199,200,202);

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* 

 1. position or display, float, z-index, overflow
 2. height and width, max height and width
 3. margin and padding
 4. border
 5. background styles
 6. font styles
 7. text-align, anything for children elements

*/


html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	margin: 0 auto;
	max-width: 100%
}

h1, h2, h3, p, ul, li, a {
	text-align: center;
	color: $dGray;
}

h1, h2, h3 {
	text-align: center;
}

h1, h3 {
	font-family: 'allerbold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.container {
	width:100%;
	max-width: 1100px;
	margin: 0 auto;
	border: 1px solid black;
}

/* Header Content ----------------------------------------------------------- */

#header {
	width: 100%;
	background-color: $dGray;
}

#header-container {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
	padding: .5em 0;
	overflow:hidden;
}

#logo {
	width:auto;
	float: left;
	overflow: hidden;

	img {
		float: left;
		height: 100px;
		padding: 10px 15px 0 0;
	}
}

#company-name {
	float: left;
	padding: 26px 0 0;
}

#wulff {
	font-family: 'aller_lightregular', sans-serif;
	font-size: 2em;
	color: white;
}

#usp {
	margin-top: -5px;
	font-family: 'alleritalic', sans-serif;
	font-size: 1em;
	color: #b1b3b6;
}

#number {
	clear: right;
	float: right;
	padding: 0 0 1em;
	a {
		font-family: 'allerbold', sans-serif;
		font-size: 1.75em;
		color: $yellow;
		text-decoration: none;
	}
}

#nav {
	display: block;	
	overflow: hidden;
	padding: .5em 0 0;
}

#nav ul {
	display: block;
	float:right;
	clear:right;
	float: right;
}

#nav ul li {
	float: left;
	margin-right: 20px;
	font-family: 'allerbold', sans-serif;
	font-size: 1em;
	list-style-type: none;
	color: $yellow;
}

#nav > ul > li:nth-child(3n) {
	margin-right: 0px;
}

#nav ul ol {
	margin: 0px;
}

#nav a {
	color: #b1b3b6;
	text-decoration: none;
}

/* Carousel Container ----------------------------------------------------------- */
.welcome {
	display: block;
	position: absolute;
	top:2em;
	left:0;
	z-index: 1;
	width:100%;
	text-align: center;
}
.carousel-inner {
	height: 500px;
}

.item {
	position: relative;
	&:after {
			content: '';
			display: block;
			position: absolute;
			top:0;
			bottom: 0;
			left:0;
			right:0;
			background: $dGray;
			opacity: .4;
			filter: alpha(opacity=40);
		}
}

h1 {
	font-size: 1.375em;
	color: #fff;
}

#copy-container {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
}

.who-we-are, .contact {
	font-family: 'allerbold', sans-serif;
	font-size: 2.625em;
	text-transform: uppercase;
	color: $dGray;
	letter-spacing: 5px;
	padding-bottom: 24px;
}

.carousel-caption {
	position: absolute;
	top:6em;
	left:0;
	width:100%;
	height:100%;
	padding: 15px;
	text-align: center;
	background: none;
	z-index: 3;
	h2 {
		display: block;
		width:80%;
		margin: 0 auto;
		font-size: 3.0625em;
		color: #fff;
		line-height: 1.2em;
	}
}
.intro-button {
	width: 225px;
	margin: 3em auto 0;
	font-family: 'allerbold', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
	color:  $dGray;
	background-color:$yellow;
	padding: 15px 0px;
	border-radius: 30px;
}

p {
	font-family: 'aller_lightregular', sans-serif;
	font-size: 1.25em;
	line-height: 2.125em;
	padding-bottom: 0px;
}

.carousel-control {
  font-family: 'aller_lightregular', sans-serif;
  position: absolute;
  top: 40%;
  left: 0px;
  width: 60px;
  height: 60px;
  margin-top: -20px;
  font-size: 100px;
  font-weight: 100;
  line-height: 45px;
  color: $dGray;
  text-align: center;
  background: $yellow;
  border: 0px solid #ffffff;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 5;
}

.carousel-control.right {
  right: 0px;
  left: auto;
}

.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

// Pills for indicating active image
// ---------------------------------

.carousel-pill-box {
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  z-index: 3;
}

.carousel-pill {
  display: inline-block;
  margin: 0px 5px;
  width: 20px;
  height: 20px;
  background: url('../img/circle.png') no-repeat;

  &.active-pill {
    background: url('../img/circle_active.png') no-repeat;
  }
}
//// 


.accordion-group {
	border-radius: 0px;
	border-top: 1px solid #E5E5E5;
}

.accordion-heading a {
	font-family: 'allerbold', sans-serif;
	font-size: 1.375em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
	text-decoration: none;
}

.accordion-inner {
	background-color: #333;
	border-top: 0px;
}

.accordion-type {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
	font-family: 'allerregular', sans-serif;
	font-size: 1em;
	color: $lGray;
	text-align: center;
	line-height: 2.125em;
	padding: 16px 0px 16px 0px;
}

/* Services Container ----------------------------------------------------------- */
.nav-tabs, .nav-pills {
    text-align:center;
    
    > li {
    	float:none;
	    display:inline-block;
	    *display:inline; /* ie7 fix */
	     zoom:1; /* hasLayout ie7 trigger */
	     margin-top: 1em;
	     border-bottom: 0px;
	     a {
	     	padding: 30px;
	     	font-family: 'allerregular', sans-serif;
	     	font-size: 50px;
	     	text-transform: uppercase;
	     	background: none;
	     	&:hover {
	     		background: white;
	     		color: $dGray;
	     	}
	     }
    }

    > .active {
	     	> a {
	     		background: white;
	     		color: $dGray;
	     		&:hover {
		     		background: white;
		     		color: $dGray;
		     	}
	     	}
     	}
}

[class*="span"] {
	display: inline-block;
	float: none;
	min-height: 1px;
	margin-left: 0px;
	vertical-align: top;
}

.span4 {
	width: 33%
}
.customer-needs {
	margin: 0;
	font-family: 'allerregular', sans-serif;
	font-size: 1em;
	padding-bottom: 0px;
}

#services-clients {
	background-color: $yellow;
}

#services img {
	padding-bottom: 10px;
}

#services-container {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
}

h3 {
	font-size: 2.625em;
}

.service-type {
	font-family: 'allerbold', sans-serif;
	font-size: 1.375em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
	color: $dGray;
}

.service-specific dl, menu, ol, ul {
	margin-left: 0;
}

.service-specific {

	li {
		font-family: 'aller_lightregular';
		font-size: 1.375em;
		list-style-type: none;
		line-height: 2.125em;
	}

}

#clients-container {
	margin: 0 auto;
	width: 960px;
}

.client-specific { 

	li {
		font-family: 'aller_lightregular', sans-serif;
		font-size: 1.375em;
		list-style-type: none;
		line-height: 2.125em;
	}

}


/* Contact Container ----------------------------------------------------------- */

.all-caps {
	font-family: 'allerbold', sans-serif;
	font-size: 1.375em;
	color: $dGray;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 0;
}

/* Footer Container ----------------------------------------------------------- */

#footer {
	width: 100%;
	height: 100px;
	background-color: #f4f4f4;
}

.service-bullet {
	font-family: 'allerbold', sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: $dGray;
	padding-top: 20px;
}

#legal {
	font-family: 'allerbold', sans-serif;
	font-size: .8125em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
	}

}


/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min-resolution: 144dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

@media (max-width: 767px) {
	body {
		padding-right: 0px;
		padding-left: 0px;
	}
}

@media (max-width: 862px) {
	.span4 {
		display: block;
		width:100%;
	}
}